#!/usr/bin/env bash

# Make nvim the default editor.
export EDITOR='nvim';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow infinite entries; the default is 500.
export HISTSIZE='INFINITE';
export HISTFILESIZE="${HISTSIZE}";
export HISTTIMEFORMAT='%F %T '
# Omit duplicates and commands that begin with a space from history.
# Erase duplicates already in history.
export HISTCONTROL='ignoreboth:erasedups';
# https://unix.stackexchange.com/questions/1288/preserve-bash-history-in-multiple-terminal-windows#comment67052_48116
export PROMPT_COMMAND='history -a' 

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
#export MANPAGER='less -X';
# TODO set manpager to vim

# Not sure why this was added, so I'll comment it out and see if it breaks anything
#export MANPATH=/usr/local/share/man:$MANPATH

# Try bat, highlight, coderay, rougify in turn, then fall back to cat
export FZF_DEFAULT_OPTS="--preview '
                 (bat --style=numbers --color=always {} ||
                  highlight -O ansi -l {} ||
                  coderay {} ||
                  rougify {} ||
                  cat {}) 2> /dev/null | head -500'"

if command -v rg >/dev/null 2>&1; then
  export FZF_DEFAULT_COMMAND='rg --files --no-ignore-vcs --hidden'
else
  export FZF_DEFAULT_COMMAND='find .'
fi
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

